name: Build & Deploy
on:
  push:
    branches:
      - main
jobs:
  Deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project
        uses: actions/checkout@v4
      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8
      - name: Insall packages
        run: pnpm install
      - name: Build
        run: pnpm build
      - name: Get package version
        id: package-version
        run: |
          cd ./apps/backend
          echo "VERSION=$(pnpm pkg get version | sed 's/"//g')" >> $GITHUB_OUTPUT
      - name: Docker Login
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Setup Docker Builder
        uses: docker/setup-buildx-action@v3
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            ghcr.io/${{ github.actor }}/rachoon:${{ github.ref_name }}
            ghcr.io/${{ github.actor }}/rachoon:latest
            ghcr.io/${{ github.actor }}/rachoon:v${{ steps.package-version.outputs.VERSION }}
